<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="login-container">
    <h2>비밀번호 재설정</h2>

    <p th:if="${error}" class="error-text" th:text="${error}"></p>

    <form action="/reset-pw" method="post">
        <!-- 숨겨서 memberId 전달 -->
        <input type="hidden" name="memberId" th:value="${memberId}"/>

        <label>새 비밀번호</label>
        <input type="password" name="newPassword" required>

        <label>새 비밀번호 확인</label>
        <input type="password" name="confirmPassword" required>

        <button type="submit">변경하기</button>
    </form>

    <div class="login-links">
        <a href="/login">로그인</a>
    </div>
</div>

</body>
</html>
