<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <th:block th:fragment="default">

        <div class="card mb-3">
            <div class="card-body" id="selectedAddress">

            </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" id="addressModalBtn" class="btn btn-primary addressModalBtn" data-bs-toggle="modal" data-bs-target="#addressModal">
            배송지 변경
        </button>
    </th:block>
</body>
</html>