<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<th:block th:fragment="addressListModal">

    <div class="modal" style="border: 1px solid" id="addressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">배송지 조회</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-danger" id="addressMsg"></div>
                    <div>
                        <button class="btn btn-primary mb-3 w-100" data-bs-toggle="collapse"  data-bs-target="#addAddressToggle"> + 배송지 추가</button>
                        <div class="collapse" id="addAddressToggle">
                            <form id="addAddressForm" name="addAddressForm" class="border rounded p-3 mb-3" onsubmit="addAddressFormSubmitHandler(event)">
                                <h6 class="mb-3">새 배송지 추가</h6>

                                <div class="input-group mb-2">
                                    <input type="text" value="" name="addressName" class="form-control" placeholder="배송지 이름 (집 / 회사)" required>
                                    <input type="text" value="" name="recipientName" class="form-control" placeholder="받는 사람" required>
                                </div>

                                <!-- 주소 검색 영역 -->
                                <div class="input-group mb-2" onclick="openPostcode()">
                                    <span class="input-group-text">🔍</span>
                                    <input  type="text" value="" name="addressLine1" id="addressLine1" class="form-control" style="flex: 8;" placeholder="도로명 주소" required readonly>
                                    <input type="text" value="" name="zipcode" id="zipcode" class="form-control" style="flex: 4" placeholder="우편번호" required readonly>
                                </div>
                                <div class="mb-2">
                                    <input type="text" value="" name="addressLine2" class="form-control" placeholder="상세 주소 (선택)">
                                </div>
                                <div class="input-group mb-2">
                                    <span class="input-group-text">📞</span>
                                    <input type="text" value="" name="phone" class="form-control" placeholder="연락처 : 010-1234-5678">
                                </div>
                                <div class="input-group mb-2">
                                    <input type="text" value="" name="requestMessage" class="form-control" placeholder="ex) 요청사항 : 현관 비밀번호 7777">
                                </div>
                                <button type="submit" class="btn btn-success w-100 btn-sm">등록</button>
                            </form>

                        </div>
                    </div>

                    <div id="addressListBox"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</th:block>
</body>
</html>