body {
    font-family: 'Noto Sans KR', sans-serif;
    background: #f5f5f5;
    margin: 30px;
    font-size: 13px;
}

.detail-container {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.detail-meta span {
    display: inline-block;
    margin-right: 15px;
    margin-top: 5px;
}

.detail-content {
    background: #f1d6d6;
    padding: 15px;
    border-radius: 6px;
    margin-top: 15px;
    white-space: pre-wrap;
    min-height: 200px;

}

/* 좋아요 버튼 */
button {
    padding: 6px 12px;
    background: #1976d2;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #1258a0;
}

/* 좋아요 창너비 조정 */
input[name="memberId"] {
    width: 80px;   /* 원하는 너비 */
}



/* 댓글 */
.comment-box {
    margin-top: 30px;
}

.comment-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.comment-item.reply {
    margin-left: 30px;
    border-left: 3px solid #1976d2;
    padding-left: 15px;
}

.comment-author {
    font-weight: bold;
}

.comment-delete-btn {
    background: #d32f2f;
}
.comment-delete-btn:hover {
    background: #a82828;
}

textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
