/* NAVBAR 영역 */
.main-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 15px 0;
    z-index: 9999;
    border-bottom: 1px solid #ddd;
}

.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 600;
    color: #333;
}

.nav-login-btn {
    padding: 8px 14px;
    background: #007bff;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}


/* ============================
   FULL PAGE SECTION SIZE
============================ */
.fullpage {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
}

/* ============================
   FULLSCREEN IMAGE
============================ */
.section-img {
    width: 80%;               /* 가로 80% */
    height: 100%;             /* 세로는 100vh 유지 */
    object-fit: cover;
    display: block;
    margin: 0 auto;           /* 중앙 정렬 */
}


/*로그인 버튼 (로그인 전 , 로그인 후*/
.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-login-btn,
.nav-logout-btn {
    padding: 6px 12px;
    border-radius: 6px;
    background: #0d6efd;
    color: white;
    text-decoration: none;
}

.nav-login-btn:hover,
.nav-logout-btn:hover {
    background: #0a58ca;
}

.nav-user-info {
    font-weight: 600;
    color: #333;
}
