.social-btn {
    width: 100%;
    height: 48px;       /* Login 버튼과 동일 */
    border-radius: 0.5rem; /* rounded-lg */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    overflow: hidden;
}
.social-btn img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}