<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>판매자 상세</h1>
    <ul>
        <li>
            사업자번호 : <span th:text="${seller.bizNo}"></span>
        </li> <li>
            업태 : <span th:text="${seller.bizType}"></span>
        </li>
    </ul>
    <hr>
    <nav>
        <ul>
<!--       /seller/{orderId}/order :상세     -->
            <li><a href="/seller/order">주문 받은 내역(OrderMain)</a></li>
            <li><a href="/seller/item">등록한 상품(Item)</a></li>
            <li><a href="/seller/qna">문의사항 (미정)</a></li>
        </ul>
    </nav>
</body>
</html>