<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내돈내삶 - 홈</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/indexhome.css}">
</head>

<body>

<!-- ===== NAVBAR ===== -->
<nav class="main-navbar">
    <div class="nav-container">

        <!-- Left: Brand -->
        <a href="/" class="nav-brand">내돈내삶</a>

        <!-- Middle menu -->
        <ul class="nav-menu">
            <li><a href="/ledger">가계부</a></li>
            <li><a href="/board">게시판</a></li>
            <li><a href="/hotdeal">핫딜</a></li>
        </ul>

        <!-- Right: Login -->
        <div class="nav-right">

            <!-- 로그인 안 한 상태 -->
            <div th:if="${session.loginUser == null and session.sellerUser == null}">
                <a href="/login" class="nav-login-btn">로그인</a>

            </div>

            <!-- 일반 회원 로그인 -->
            <div th:if="${session.loginUser != null}" class="nav-user-info">
                <a href="/mypage">
                    <span th:text="${session.loginUser.memberNickname + '님 환영합니다!'}"></span>
                </a>
                &nbsp; | &nbsp;
                <a href="/logout" class="nav-logout-btn">로그아웃</a>
            </div>



        </div>


    </div>
</nav>



<!-- ============================
       FULL PAGE SECTIONS
============================= -->

<section class="fullpage section1">
    <a href="/ledger">
        <img src="/img/home_ledger.jpg" class="section-img">
        <div class="section-text">

        </div>
    </a>
</section>

<section class="fullpage section2">
    <a href="/board">
        <img src="/img/home_board.jpg" class="section-img">
        <div class="section-text">

        </div>
    </a>
</section>

<section class="fullpage section3">
    <a href="/hotdeal">
        <img src="/img/home_hotdeal.jpg" class="section-img">
        <div class="section-text">

        </div>
    </a>
</section>


</body>
</html>
