<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}"
      th:with="CONTENT_TITLE='내돈내삶 - 홈'">
<head>
</head>
<div layout:fragment="content">
    <!-- ============================
           FULL PAGE SECTIONS
    ============================= -->

    <section class="fullpage section1">
        <a href="/ledger">
            <img src="/img/home_ledger.jpg" class="section-img">
            <div class="section-text">

            </div>
        </a>
    </section>

    <section class="fullpage section2">
        <a href="/board">
            <img src="/img/home_board.jpg" class="section-img">
            <div class="section-text">

            </div>
        </a>
    </section>

    <section class="fullpage section3">
        <a href="/hotdeal">
            <img src="/img/home_hotdeal.jpg" class="section-img">
            <div class="section-text">

            </div>
        </a>
    </section>


</div>
</html>
